<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="glyphicon glyphicon-heart"></i> {{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form role="form">
        <input type="text" ng-model="org.name" class="form-control"
               placeholder="Organization Name" ng-show="!org.edit" required>
        <label ng-hide="!org.edit">{{org.name}}</label>
        <input type="number" ng-model="org.total_people" class="form-control" placeholder="No. Of People" required>

        <input type="number" ng-model="org.billable_headcount" class="form-control" placeholder="Billable Count"
               required>

        <input type="number" ng-model="org.bench_strength" class="form-control" placeholder="Bench Count" required>

        <select class="form-control" ng-model="org.owner" ng-options="emp._id as emp.name for emp in employees">
          {{emp._id}}
        </select>

        <button type="reset" class="btn btn-default">Reset</button>
        <button type="submit" class="btn btn-default" ng-click="saveOrg()">Submit</button>
      </form>
    </div>
  </div>
</div>
